.contacts{
    display:grid;
    grid-template-columns: auto auto;    
}

.contact-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:2.5rem;
    padding: 5px;
}

.main-image{
    /* background-color: red; */
    width:200px;
    height: 180px;
    border-radius:5px;
}

.info-group{
    display: flex;
    align-items: center;
    line-height: 0.5px;
}